
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
scroll-behavior: smooth;
scroll-padding-top: 90px;  
}

body {
    margin: 0;
    background-color: #151A1D;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;
    background-color: #151A1D;
    
}

.bottom p {
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
} 

.navbar span {
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: white;
}


.container {
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 100vh; 
    justify-content: flex-start; 
    position: relative;
    margin-top: -75px; /* Ajuste o valor do margin-top igual ao valor usado no .container */
    margin-left: 3%;
}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1%;
    padding-left: 4%;
}

.right {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.right img {
    width: 50%; 
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -86px;
   
}

#login {
    margin-left: 2%;
}

.top {
    width: 100%;
    align-items: center;
    display: flex;
    height: 35%;
    flex-direction: row;
    color: white;
    
}

.top img {
    height: 90%;
    width: 20%;
}

.containerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

.bottom {
    padding: 2%;
    flex-direction: column ;
    color: white;
    gap: 5%;
    margin-top: -46px;

    
}

.bottom p {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.line {
    width: 100%;
    background-color: #3B89FE;
    height: 1vh;
    position: absolute;
    bottom: 188px; /* Posicione a linha acima do botão "Saiba mais" */
    z-index: -1; /* Coloca a linha atrás dos elementos */
}


#botao {
  border-radius: 34px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  height: 300px;
  width: 300px;
  font-size: 21px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-left: 25%;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

#botao a{
text-decoration: none;
}

#botao:hover {
  color: #3B89FE;
  background-color: white;
  transition: 0.8;
  border: none; 
} 


.left {
    width: 50%;
}

.right {
    width: 50%;
}

#titulo {
   font-size: 48px;
   font-weight: 900;
   color: white;
   font-family: "Roboto", sans-serif;
}

#titulo2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    font-family: "Roboto", sans-serif;
}

/* .container {
  background-color: red;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  } */
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 80px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  .card .circle img {
    width: 160px; 
    height: 180px; 
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  .carrossel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 7%;
    gap: 4%;
    margin-left: 5%;
    margin-top: -75px;
    
  }

  .left2 {
    position: relative;
    transform: translateY(-40%);
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.right2 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    
}

#botao2 {
    border-radius: 34px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    height: 60px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    margin-left: 25%;
    text-decoration-style: none;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
}

#botao2 a{
  text-decoration: none;
}

#botao2:hover {
    color: #3B89FE;
    background-color: white;
    transition: 0.8;
    border: none; 
} 

.right2 p {
    font-size: 24px;
    font-weight: 300;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    width: 200%;
    height: 70;
    margin-left: 25%;
    
}

.banner {
  margin: 50px;
  margin-left: auto;
  margin-top: 70px;
}

.banner .container3 {
  font-size: 40px;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-left: 40px;
  color: white;
  margin-top: -110px;
}

#Techmoovers {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3b89fe;
  font-size: 45px;
  margin-left: -20px;
  font-style: italic;
}

.banner p {
  margin-left: 120px;
}

p b {
  font-size: 40px;
  margin-left: 10px;
}

.container4 img {
  display: flex;
  justify-content: end;
}

.box h1 {
  margin-left: 230px;
  margin-top: 50px;
  color: white;
}

.banner .container4 hr {
  margin-left: 50px;
}

.container4 hr {
  width: 600px;
  margin: -15px;
}

.container4 .box P {
  margin-left: 30px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  
}

.social {
  margin-left: 80px;
  margin-top: 5%;
}

#vaca {
  display: flex;
  margin-top: -380px;
  width: 100%;
  margin-left: -50px;
  cursor: pointer;
  height: 100%;
}

.imagem {
  margin-left: 790px ;
  margin-top: -60;
}

.imagem img {
  width: 190%;
  height: 210%;
  margin-top: -300px;
  border-radius: 0%;
}

.imagem .hr2 {
  margin-right: 100px;
  transform: rotate(270deg);
  margin-left: 25px;
  height: 535px;
  margin-top: -450px;
  width: 350px;
}

#botaoin {
  border-radius: 34px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  height: 60px;
  width: 170px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-left: 19%;
  padding: 12px;
  text-decoration: none;
  
}

#botaoin:hover {
  color: #3B89FE;
  background-color: white;
  transition: 0.8;
  border: none; 
}

#backg {
  width: 95%;
  height: 90%;

}

#container8 {
  text-align: center;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row; /* Colocando as caixas uma em baixo da outra */
  align-items: center;
  margin-left: 5%;
  margin-top: -25px;
}

.caixa1 {
  display: flex;
  padding-top: 100px;
}

.login-box, .Calcular-box {
  background: white;
  border-radius: 8px;
  padding: 30px;
  width: 300px;
  margin: 50px; /* Espaçamento igual entre as caixas */
  font-size: 115%;
}
.login-box h2, .Calcular-box h2 {
  color: #777777;
}

.Calcular-box h2 {
  color: #000;
  font-weight: 800;
}

.form-group {
  margin: 30px 0;
  margin-top: -25px;
  margin-right: 5%;
}

.login-box h2 {
  color: black;
  margin-top: 70px;
  font-weight: 800;
}

.form-group label {
  display: block;
  text-align: left;
  color: black;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.5); /* Cor de fundo igual para ambas as caixas */
  border-radius: 5px;
  color: white;
}
.form-group input::placeholder {
  color: white;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background: #3B89FE;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.footer-texto {
  font-size: 18px;
  color: #ffffff;
}
.footer-texto a{
  color: #ffffff;
}

#botao3 {
  border-radius: 34px;
  border: 3px solid black;
  background-color: transparent;
  color: black;
  height: 60px;
  width: 180px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-left: 1%;
  margin-top: 20%;
}

#botao3:hover {
  color: #3B89FE;
  background-color: #151A1D;
  transition: 0.8;
  border: none; 
} 

#botao4 {
  border-radius: 34px;
  border: 3px solid black;
  background-color: transparent;
  color: black;
  height: 60px;
  width: 180px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-left: 1%;
}

#botao4:hover {
  color: #3B89FE;
  background-color: #151A1D;
  transition: 0.8;
  border: none; 
} 

.tit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  padding-top: 7%;
  margin-right: 5%;
}



 .header{
  border-bottom: 4px solid;
  background-color: #151A1D;
  margin-top: 15%;
}

.header .container5{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.header .container5 {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
} 

.paragrafo {
  color: white;
  margin-top: 35px;
  font-size: 25px;
}

.paragrafo p {
  margin-top: -15%;
}

.container6{
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 420px;

}

.sociall{
  background-image: url(imgs/Captura\ de\ tela\ 2023-10-04\ 204032.png);
  background-size: cover;
  display: flex;
  height: 400px;
    
}

.container5 {
  display: flex;
  
}
.sociall .container7{
  justify-content: space-between
  
}

.container7 {
  align-items: center;
  margin-left: -8%;
font-size: 15px;
  margin-top: -10%;
  
}

.caixa img{
  width: 155px;
}

.sociall .container5 .caixas{
  display: flex;
  border-radius: 10px;
}

.caixa{
  width: 280px;
  padding: 30px;
  border-radius: 7px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 11%;
 
}

.caixa a{
  background-color: transparent;
  color: #000;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 0.3s;
  margin-bottom: 5px;
  margin-left: 100px;
}

.logo_titulo{
  width: 200px;
  height: 200px;
  object-fit: fill;
}

img {
 width: 40px;
 padding: 20px;
 justify-content: space-around;
}

.boxRedes{
  display: flex;
  justify-content: space-around;
}

.listas{
  display: flex;
  justify-content: space-evenly;
}

.lista{
  width: 100px;
  height: 100%;
  
}

.lista p{
  color: white;
}

.lista h4{
  color: white
}

.box-3 {
  color: #000;
}


